<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="caprate.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous">
</head>
<body class="text-center">
    <header>
    <br>
      <h1 class="headerStyle"><strong> Cap Rate Calculator</strong> </h1>
      <div class="main">
        <ul>
          
          <li><a href="/home" >Home</a></li>
          <li><a >Mortgage</a></li>
          <li><a >Info</a></li>
          <li><a >Zillow</a></li>
          
        </ul>
      </div>


    </header>
    <br>
    <br>
    <br>
    <div class="card1">
		<div class="card-body">
        <h6>Rent per unit</h6> 
        <input type="number" name="question1" id="rent">
         <h6>How many units</h6> 
        <input type="number" name="question2" id="units">
        <h6>Total expenses</h6> 
        <input type="number" name="question3" id="expenses">
         <h6>Market value</h6>
        <input type="number" name="question4" id="marketV">
        <br>
        <br>
        <div class="FeedbackCSS">
          <div id="capFeedback">
          </div>
        </div>
        <h3>
        <span class="GoodRateImg"></span>
        </h3>
        <h3 id="validationFdbk" class="bg-danger text-white"></h3>
        <div class="FeedbackCSS">
          <div id="arrayFeedback">
          </div>
          <br>
        </div>
        <button class="btn btn-danger">
            Enter
        </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="caprate.js"></script>
  </body>
</html>


<!-- http://localhost:3000 -->