<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="home.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous">
</head>
<body class="text-center">
  <header>
    <br>
    <h1 class="headerStyle"><strong>Real Estate Investing</strong></h1>
    <div class="main">
      <ul>
          <li><a href="/" >Caprate</a></li>
          <li><a href="/mortgage">Mortgage</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="https://www.zillow.com/">Zillow</a></li>
      </ul>
    </div>
  </header>
  <br>
  <br>
  <br>
  <div class="card1">
    <h2>Important Information on Real Estate Investing:</h2>
    <ul>
      <li>Real estate investing involves purchasing and/or managing properties for the purpose of generating income or capital gains.</li>
      <li>Real estate investing can be profitable, but it also carries risks, such as market fluctuations, property damage, and legal issues.</li>
      <li>Before investing, it's important to conduct thorough research on the market and the specific property, including its location, condition, and potential for rental income or resale value.</li>
      <li>Real estate investing can provide passive income, tax benefits, and long-term wealth building opportunities.</li>
    </ul>
  </div>

  <div class="image-wrapper">
    <img src='/images/houseImg.jpeg' alt="Real estate image" class="housing">
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="caprate.js"></script> -->
</body>
</html>
