body {
	background-image: url('/images/housesBlur.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header {
	/* background-color: gray; */
	background-color: rgb(29, 29, 29);
}

ul li {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(255, 255, 255);
	/* margin-top: 10px; */
}
ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: 2px solid gainsboro;
	background: hsla(0, 60%, 0%, 0.5);
	/* margin-top: 5px; */
}
ul li a:hover {
	background-color: rgb(0, 174, 255);
	color: #000;
}

.headerStyle {
	text-align: center;
	/* margin-top: 20px; */
	font-family: 'Raleway', sans-serif;
	color: white;
	text-shadow: 5px 5px 2px #000000;
}
.FeedbackCSS {
	margin-left: 10%;
	margin-right: 10%;
}

.Para {
	text-align: center;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-shadow: 3px 2px 1px #000000;
}
/* .card1 {
	background: linear-gradient(to bottom, #333, #000);
	color: white;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	margin: auto;
} */

.card1 {
	background: linear-gradient(to bottom, #000000, #444444);
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	max-width: 600px;
	margin: 0 auto;
	margin-left: 50px;
}

ul {
	list-style-type: disc;
	margin: 20px;
	padding: 0;
	font-size: 18px;
}

li {
	margin: 10px 0;
}
.image-wrapper {
	float: right;
	width: 50%;
	height: auto;
	margin-left: 20px;
	margin-top: -540px; /* Adjust this value as needed */
}

.housing {
	height: 540px;
	width: 600px;
	border-radius: 8px;
}
